.footer {
  margin: 67px auto 60px;
  max-width: 880px;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

 

@media screen and (min-width: 300px) and (max-width:820px) {
  .footer {
   
    margin-top: 48px;
    margin-bottom: 36px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
