.header {
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  margin: 45px auto 0;
  max-width: 880px;
}

.header__icon {
  width: 173px;
  height: 33px;
  margin: 0 0 41px;
}



@media screen and (max-width: 320px) {
  .header {
    
    justify-content: center;
    margin-top: 28px;
    
  }
  .header__icon {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}

