.header {
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  margin: 45px auto 0;
}

.header__icon {
  width: 173px;
  height: 33px;
  margin: 0 0 45px;
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 282px;
    justify-content: center;
  }
  .header__icon {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    max-width: 88%;
  }
}
