.profile {
  display: flex;

  margin: 36px 0 0;
  max-width: 880px;
  color: white;
}

.profile__rectangle {
  width: 150px;
  height: 127.5px;
  flex-shrink: 0;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description ";
}
.profile__title {
  color: #fff;

  font-family: "Inter";
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  grid-area: title;
}
.profile__description {
  color: #fff;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  grid-area: description;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: 15px 0 0 9px;
  grid-area: button;
  background: transparent url(../images/edit-button.svg) center no-repeat;
}
.profile__add-button {
  margin-left: auto;
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
}
