.profile {
  display: flex;
  margin-top: 40px;
  align-items: center;
  max-width: 880px;
  
}



.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin: 0;
}

.profile__info {
  display: grid;

  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto-fit, 415px);
  align-items: center;
}
.profile__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
  margin-left: 24px;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
  
  
}
.profile__description {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 7px;
  margin-left: 24px;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
 
  margin-left: 9px;

  grid-area: button;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  border: #fff solid 1px;
  transition: 1.2s ease-in-out;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__add-button {
  margin-left: auto;
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: #fff solid 2px;
  transition:  1.2s ease-in-out;
  
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile {
    
    justify-content: space-between;
  }
  .profile__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 50px) and (max-width: 685px) {
  .profile {
    
    margin-top: 42px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
  }
  .profile__info {
    margin-top: 26.25px;
  }
  

  .profile__title {
    font-size: 22px;
    
    
    
  }
  .profile__description {
    font-size: 14px;
    margin: 14px 0 0;
    text-align: center;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  
  
  .profile__add-button {
    margin: 36px auto 0;
    background: transparent url(../images/add-button-large.svg) center no-repeat;
    width: 282px;
    height: 50px;
    flex-shrink: 0;
    


}
}


